* {
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Tajawal;
    background-color: #773D4C;
}

@font-face {
    font-family: "Tajawal";
    src: url(../fonts/Tajawal-Black.ttf);
}

@font-face {
    font-family: "TajawalOne";
    src: url(../fonts/Tajawal-Medium.ttf);
}

::selection {
    color: white;
    background-color: deeppink;
}
.ContainerPage {

}

.ContainerPage .devContainerstatistics {
    position: relative;
    top: 50px;
        padding: 0px 0px 200px 0px;
}
.ContainerPage .devContainerstatistics .devstatistics {
    width: 100%;
}

/* بداية كود الناف بار */
.ContainerPage .devContainerstatistics .devstatistics .containerNav {
    width: 100%;
    background-color: #690F32;
    height: 60px;
    border-radius: 5px;
    padding: 6px 0px;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar {
    position: relative;
    width: 100%;
    /* background-color: #690F32; */
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px
}

/* بداية كود تغيير الالوان */


.activecontiner {
    transition: 0.5s;
    background-color: #3D4677 !important ;
}
.activecontinerStar {
    transition: 0.5s;
    background-color: #3936CE !important ;
}
.activecontinerdevboxse {
    transition: 0.5s;
    background-color: #270F69 !important ;
}

.activecontinerdevicon {
    transition: 0.5s;
    background-color: #321DB2 !important ;
    color: #7C6FF1;
}
.activecontinerdevBtn {
    transition: 0.5s;
    background-color: #2A32A5 !important ;
}

.devContainerstatistics .devstatistics .containerNav .contentnavbar .deviconColor {
    position: absolute;
    left: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .devitmeColor {
    height: 40px;
    width: 80px;
    background-color: antiquewhite;
    position: absolute;
    top: 45px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    transform: scale(0,0);
    transition: 0.3s;
    left: 70px;
}
.showItmeColor {
    transform: scale(1,1) !important;
    transition: 0.3s;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .devitmeColor #color1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #690F32;
    cursor: pointer;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .devitmeColor #color2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #270F69;
    cursor: pointer;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .devitmeColor #color3 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #540F69;
    cursor: pointer;
}

/* نهاية كود تغيير الالوان */
.devContainerstatistics .devstatistics .containerNav .contentnavbar p {
    margin: 2px;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itemicon {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itmeiconimgandname .devname  h3 {
    font-family: "Tajawal";
    margin: 0;
    font-size: 20px;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itmeiconimgandname {
    display: flex;
    align-items: center;
    gap: 15px;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itmeiconimgandname .devname  {
    text-align: center;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itmeiconimgandname .devname  h5 {
    font-family: "TajawalOne";
    margin: 0;
    color: #dbdbdb;
}
.devContainerstatistics .devstatistics .containerNav .contentnavbar .itmeiconimgandname img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* نهاية كود الناف بار */

/* بداية كود الكونتينر الاساسى اللي شايل محتوي البوكسات كلها */

.devstatistics .bigcontainerboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
}

/* بداية كود الكونتينر الاساسى اللي شايل محتوي البوكسات كلها */

/* بداية كود البوكسات الاربعة مع الديف الخامس */

.devstatistics .containerForbox {
    /* border: 1px solid red; */
    height: 800px;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.devstatistics .containerForbox .box {
    width: 48%;
    background-color: #690F32;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
.devstatistics .containerForbox .box .boxcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 25px;
    gap: 15px;
    margin-right: 35px;
}
.devstatistics .containerForbox .box .boxcontent #namber {
    font-size: 50px;
    font-family: "Tajawal";
}
.devstatistics .containerForbox .box .boxcontent span {
    font-family: "TajawalOne";
}
.devstatistics .containerForbox .box .boxcontent .devbg-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #B31D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.devstatistics .bigcontainerboxes .containertwobox .boxone .boxcontent h2 {
    font-family: "TajawalOne";
}
.devstatistics .containerForbox .boxAreport {
    width: 98.5%;
    background-color: #690F32;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 5px;
}
.devstatistics .containerForbox .boxAreport .textanditme {
    font-family: "TajawalOne";
    display: flex;
    align-items: center;
    gap: 15px;
}
.devstatistics .containerForbox .boxAreport h2 {
    font-size: 30px;
}
.devstatistics .containerForbox .boxAreport .textanditme .devbg-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #B31D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

@media (min-width: 340px) and (max-width: 767px){
    .rightcontrolcontainer {
        display: none;
    }
    .devstatistics .containerForbox  {
        width: 98%;
    }
    .devstatistics .containerForbox .box{
        width: 100%;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent h3 {
        font-size: 18px;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent .devthreeitme a {
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .rightcontrolcontainer {
        display: none;
    }
    .devstatistics .containerForbox  {
        width: 98%;
    }
    .devstatistics .containerForbox .box{
        width: 48%;
    }
}
@media (min-width: 1200px) and (max-width: 1599px){
    .rightcontrolcontainer {
        display: none;
    }
    .devstatistics .containerForbox  {
        width: 49%;
    }
    .devstatistics .containerForbox .box{
        width: 48%;
    }
}


/* نهاية كود البوكسات الاربعة مع الديف الخامس */

/* بداية كود البوكسين اللى فى النص */

.devstatistics .containertwobox {
    height: 800px;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.devstatistics .bigcontainerboxes .containertwobox .boxone {
    height: 300px;
    background-color: #CE3675;
    background-image: url(../imges/dev.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    color: white;
}
.devstatistics .bigcontainerboxes .containertwobox .boxone .boxcontent {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.devstatistics .bigcontainerboxes .containertwobox .boxone .boxcontent .devbg-icon {
    height: 70px;
    width: 70px;
    background-color: #F0448B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.devstatistics .bigcontainerboxes .containertwobox .boxtow {
    width: 100%;
    background-color: #690F32;
    height: 460px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent h3 {
    font-family: "TajawalOne";
    margin: 20px;
}
.devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent .devthreeitme {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.devstatistics .bigcontainerboxes .containertwobox .boxtow .boxcontent .devthreeitme a {
    color: white;
    font-family: "TajawalOne";
    padding: 15px 20px;
    background-color: #A52A49;
    border-radius: 50px;
}

@media (min-width: 340px) and (max-width: 767px){
    .devstatistics .containertwobox  {
        width: 98%;
        margin-top: 600px;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxone .boxcontent h2 {
        font-size: 22px;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxone span {
        text-align: center;
        font-size: 17px;
    }
}
@media (min-width: 768px) and (max-width: 1199px){

    .devstatistics .containertwobox  {
        width: 98%;
        margin-top: 100px;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxone .boxcontent h2 {
        font-size: 22px;
    }
    .devstatistics .bigcontainerboxes .containertwobox .boxone span {
        text-align: center;
        font-size: 17px;
    }
}

@media (min-width: 1600px){
    .devstatistics .containerForbox  {
        width: 40%;
    }
    .devstatistics .containerForbox .box{
        width: 48%;
    }
    .devstatistics .containertwobox {
        width: 32%;
    }
}

/* نهاية كود البوكسين اللى فى النص */

/* بداية كود البوكس اللى على اليمين  */

.devstatistics .bigcontainerboxes .rightcontrolcontainer {
    position: relative;
    height: 800px;
    width: 368px;
    background-color: #690F32;
    border-radius: 5px;
    margin-left: 30px;
}
.devstatistics .bigcontainerboxes .rightcontrolcontainer .containeritme h1 {
    color: white;
    text-align: right;
    margin-right: 20px;
}
.devstatistics .bigcontainerboxes .rightcontrolcontainer .containeritme .itme {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 20px 0px;
    gap: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.devstatistics .bigcontainerboxes .rightcontrolcontainer .containeritme .itme a {
    color: white;
    font-family: "TajawalOne";
}

/* بداية كود البوكس اللى على اليمين  */