* {
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Tajawal;
}

@font-face {
    font-family: "Tajawal";
    src: url(./fonts/Tajawal-Black.ttf);
}

@font-face {
    font-family: "TajawalOne";
    src: url(./fonts/Tajawal-Medium.ttf);
}

::selection {
    color: white;
    background-color: deeppink;
}

/* بداية كود التحميل للصفحة */
.container-dotted-loader {
    position: fixed;
    z-index: 1001;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.78;
    display: none;

}

.dotted-loader {
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-color: #0074ff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1000;
    animation: rotate-right .7s linear infinite;
    display: none;
}

.dotted-loader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-width: 4px;
    border-color: #009688;
    border-style: solid dotted;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: rotate-left 1.7s linear infinite;
}

@keyframes rotate-right {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.active {
    display: flex !important;
}

.activetwo {
    display: none;
}

/* نهاية كود التحميل للصفحة */



/* بداية كود ثانى ديف  */
.devTextBoxPlan {
    text-align: center;
}

/* نهاية كود ثانى ديف  */

/* بداية كود ثالث ديف  */
.contanierPaga {
    /* position: relative; */
}

.devHeaderAndSectionHomePage {
    width: 100%;
    height: 1060px;
    display: flex;
    justify-content: center;
}

.devHeaderAndSectionHomePage img {
    height: 100%;
    width: 100%;
}

.devHeaderAndSectionHomePage header {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.devHeaderAndSectionHomePage header ul li {
    display: flex;
    gap: 10px;
}

.devHeaderAndSectionHomePage header ul a {
    color: white;
    font-size: 20px;
}

.devHeaderAndSectionHomePage header #logo {
    font-size: 25px;
    color: white;
}

.textHome {
    position: absolute;
    top: 50%;
    color: #FFD1D1;
    text-align: center;
}

/* Media Sm */
@media (max-width:399px) {
    .devHeaderAndSectionHomePage header ul li a {
        font-size: 15px;
    }
    .devHeaderAndSectionHomePage header #logo {
        font-size: 20px;
    }
    .textHome{
        font-size: 9px;
    }
}

/* Media Sm */
@media (min-width: 400px) and (max-width:767px) {
    .devHeaderAndSectionHomePage header ul li a {
        font-size: 15px;
    }
    .devHeaderAndSectionHomePage header #logo {
        font-size: 20px;
    }
    .textHome{
        font-size: 10px;
    }
}

.textHome #colorText {
    color: #FF9494;
}

.contanierdevlink-btn-str {
    display: flex;
    align-items: center;
    justify-content: center;
}

.devlink-btn-str {
    padding: 15px 20px;
    width: 200px;
    font-size: 20px;
    background-color: #FFD1D1;
    border-radius: 50px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.textHome #link-btn-str {
    color: white;
}

.textHome .devlink-btn-str:hover {
    background: none;
    font-size: 25px;
    border: solid 1px #FFD1D1;
}

.textHome .fa-sharp {
    color: #FF9494;
    animation: rightTo 1s infinite;
    font-size: 26px;
}

@keyframes rightTo {
    10%, 20%, 30%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40%, 60% {
        transform: translateX(5px);
    }


}

.contanierPaga .devTwoContanier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: solid 1px red; */
    /* width: 1300px; */
    margin: auto;
    text-align: center;
    gap: 150px;
}


.contanierPaga .devTwoContanier .boxPlan {
    min-height: 500px;
}

.contanierPaga .devTwoContanier .boxPlan hr {
    height: 1px;
    background-color: #607d8b;
}

.contanierPaga .devTwoContanier .boxPlan #salary-box-plan {
    color: darkred;
    font-size: 22px;
}

.contanierPaga .devTwoContanier .boxPlan #btn-buy {
    padding: 10px 50px;
    background-color: #FF9494;
    color: white;
    border-radius: 5px;
}

/* نهاية كود ثالث ديف  */


/* بداية كود رابع ديف  */

.devThreeContanier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 150px;
    background-image: linear-gradient(to right, #FF9494, #FFE3E1);
}

.devThreeContanier .dev-img {
    width: 45%;
}

.devThreeContanier .dev-img img {
    width: 100%;
}

.devThreeContanier .devTextContent {
    width: 45%;
}

.devThreeContanier .devTextContent img {
    width: 100%;
}

.devThreeContanier .devTextContent img:hover {
    cursor: pointer;
}

/* Media Mobile  */
@media (max-width:399px) {
    .devThreeContanier .devTextContent {
        width: 90%;
    }

    .devThreeContanier .devTextContent h1 {
        font-size: 17px;
    }

    .devThreeContanier .devTextContent p {
        font-size: 13px;
    }

    .devThreeContanier .dev-img {
        width: 90%;
    }
}

/* Media Sm */
@media (min-width: 400px) and (max-width:767px) {
    .devThreeContanier .devTextContent {
        width: 90%;
    }

    .devThreeContanier .devTextContent h1 {
        font-size: 20px;
    }

    .devThreeContanier .devTextContent p {
        font-size: 13px;
    }

    .devThreeContanier .dev-img {
        width: 90%;
    }
}

/* Md AND Lg*/
@media (min-width: 768px) and (max-width:1520px) {
    .devThreeContanier .devTextContent {
        width: 40%;
    }

    .devThreeContanier .devTextContent h1 {
        font-size: 18px;
    }

    .devThreeContanier .devTextContent p {
        font-size: 13px;
    }

    .devThreeContanier .dev-img {
        width: 40%;
    }
}




/* نهاية كود رابع ديف  */

/* بداية كود خامس ديف  */


.devForContanier {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    flex-wrap: wrap;
    text-align: center;
    padding: 150px 0px;
    background-image: linear-gradient(to right, #b392ac, #e8c2ca);
}
.devForContanier .boxContact {
    margin: 10px;
}

.devForContanier a {
    padding: 15px 50px;
    background-color: #FF9494;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
}

.devForContanier a:hover {
    font-size: 20px;
    background: none;
    border: solid 1px #FF9494;
}

/* نهاية كود خامس ديف  */


/* بداية كود سادس ديف  */


.devFiveContanier {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px 0px;
    gap: 50px;
    margin: 5px;
}

.devFiveContanier .box-Content {
    /* width: 31%; */
    width: 400px;
}

.devFiveContanier #text-Emial {
    width: 150px;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-family: TajawalOne;
    font-weight: 100;
    outline: none;
}

.devFiveContanier #text-Emial:focus {
    border: #e8c2ca 1px solid;
    width: 180px;
    transition: 0.5s;
}

.devFiveContanier #btn-text-send-email {
    padding: 16px 30px;
    background-color: #e8c2ca;
    font-size: 21px;
    color: white;
    transition: 0.2s;

}


.devFiveContanier #btn-text-send-email:hover {
    font-size: 30px;
    padding: 15px 35px;
    cursor: pointer;
}

/* نهاية كود سادس ديف  */


/* بداية كود الفوتر  */

.devFooter {
    background-image: linear-gradient(to right, #FFE3E1, #FF9494);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#colorText {
    color: #FF9494;
}

/* نهاية كود الفوتر  */



/* Start chat */
/* .ssssss {
  display: none;
} */
.boxChat {
    position: fixed !important;
    right: 50px;
    bottom: 150px;
    z-index: 1000;
    transform: scale(0,0);
  }
  
  .boxChat img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .boxChat .chat {
    position: relative;
    height: 60px;
    width: 300px;
    background-image: linear-gradient(to right, #ffb620, rgba(255, 0, 0, 0.548));
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
  }
  
  .boxChat .fullchat {
    display: none;
  }
  
  .boxChat .fullchat .chat #MiniMaze {
    position: relative;
    bottom: 20px;
    left: 100px;
    color: white;
    cursor: pointer;
  }
  
  .boxChat .chat .headerchat {
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 0px 15px;
  }
  .boxChat .chat .headerchat #internet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(236, 213, 5);
    position: absolute;
    border: solid 1px white;
    left: 87px;
    top: 35px;
    cursor: pointer;
  }
  
  .boxChat .chat .headerchat h2 {
    color: white;
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size: 22px;
  }
  
  .boxChat .chat .headerchat img {
    width: 55px;
    height: 55px;
    transition: 0.3s;
  }
  
  /* .boxChat .chat .headerchat img:hover {
    transform: rotate(25deg);
  } */
  
  .boxChat .messagepage {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #F9F9F9;
    overflow-y: hidden;
  }
  
  .boxChat .messagepage .divP {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .boxChat .messagepage #left {
    /* padding: 5px; */
    margin: 10px 0px 0px 10px;
    max-width: 150px;
    background-color: #3f51b5;
    color: white;
    border-radius: 10px 10px 10px 0px;
  }
  
  .boxChat .messagepage #right {
    position: relative;
    text-align: right;
    left: 120px;
    margin: 10px 0px 0px 10px;
    max-width: 150px;
    background-color: #ffb620;
    color: white;
    border-radius: 10px 10px 10px 0px;
    /* overflow: auto; */
  }
  
  .boxChat .messagepage .boxmessage {
    position: absolute;
    bottom: 0;
    height: 60px;
    display: flex;
    gap: 10px;
  }
  
  .boxChat .messagepage .boxmessage img {
    height: 50px;
    width: 50px;
    position: relative;
    left: 3px;
    transition: 0.3s;
  }
  
  .boxChat .messagepage .boxmessage img:hover {
    transform: rotate(-15deg);
  }
  
  .boxChat .messagepage .boxmessage #textarea {
    outline: none;
    /* text-align: right; */
    resize: none;
    height: 50px;
    border-radius: 50px;
    border: solid 1px #ddd;
    width: 70%;
    z-index: 100;
    padding: 0 5px;
  }
  
  .boxChat .messagepage .boxmessage #textarea::placeholder {
    position: absolute;
    top: 16px;
    padding: 0px 0px 0px 10px;
    color: rgb(156, 156, 156);
    font-weight: 100;
    font-size: 12px;
  }
  
  /* End chat */


/* Start Alert Internet */
.continerBoxAlert {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 250px;
    height: 60px;
    background-color: rgb(74 73 73);
    border-radius: 5px;
    transform: scale(0,0);
    cursor: pointer;
  }
  .continerBoxAlert .item {
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
  }
  .continerBoxAlert .item h2 {
    font-size: 20px;
  }
  .continerBoxAlertActive{
    transition: 0.3s;
    display: flex;
    transform: scale(1,1);
  }
  
  /* Start Alert Internet */